.header {
  background-color: rgb(173, 173, 171);
  color: black;
  width: 100%;
  height: 100%;
}

.header__image {
  align-self: center;
  height: 25px;
  width: 25px;
}
nav {
  background-color: #ededed;
  display: flex;
  width: 100%;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  padding: 14px 33px;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px 0px #00000025;
  z-index: 3;

  a {
    color: #3c3c3c;
    text-decoration: none;
  }
}

.header__list {
  display: flex;
}

.header__list-item {
  padding-left: 50px;
  list-style-type: none;
}

@media screen and (max-width: 540px) {
  .header {
    display: none;
  }
}
