.about {
  display: flex;
  background-color: gray;
  justify-content: space-between;
  scroll-margin-top: 80px;
}

.about__photo {
  width: 40vw;
  background-image: url("../../assets/images/image.jpeg");
  background-size: cover;
}

.about__description-container {
  width: 60vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.about__description {
  width: 80%;
  text-align: justify;
}

.about__title {
  font-size: 40px;
  padding-bottom: 45px;
}

.about__ocupation {
  font-size: 30px;
  color: #ffffff;
  font-weight: 600;
  line-height: 2.4rem;
  /*ver pq não está dando espaço entre a descrição e o botão*/
}

.about__history {
  padding-bottom: 54px;
}

.about__button {
  background-color: #000000;
  display: flex;
  width: fit-content;
  align-items: center;
  padding: 14px;
  border-radius: 8px;
}

.about__icon {
  width: 20px;
  height: 12px;
}

.about__button-description {
  font-size: 20px;
  color: #ffffff;
  padding-left: 11px;
  cursor: pointer;
  text-decoration: none;
}

@media screen and (max-width: 1240px) {
  .about {
    justify-content: space-around;
  }

  .about__description-container {
    width: 100vw;
  }
  /* preciso de ajuda para a foto diminuir junto com a tela */
  .about__photo {
    width: 100vw;
  }
}

@media screen and (max-width: 740px) {
  .about__photo {
    display: none;
  }
  /* deixar o texto pegando a tela toda */
  .about__description-container {
    width: 100vw;
  }

  .about__description {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .about__button {
    align-items: center;
  }
}
